[Unit]
Description=Airflow celery daemon
After=network.target postgresql.service airflow-webserver.service airflow-scheduler.service
Wants=postgresql.service airflow-webserver.service airflow-scheduler.service

[Service]
EnvironmentFile=/etc/sysconfig/airflow
User=andreas
Group=andreas
Type=simple
ExecStart=/home/andreas/miniconda3/bin/airflow celery flower
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
